<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>Power Usage Logger (tentative)</title>
  </head>
  <body>
    <h1>Power Usage Logger (tentative)</h1>

    <h2>API</h2>



    <h2>Source Code</h2>

    <ul>
      <li><a href="https://github.com/ogawa/power-usage-logger">GitHub</a></li>
    </ul>

    <h2>Acknowledgment</h2>
    <ul>
      <li>This service is a derived work of <a href="http://tepco-usage-api.appspot.com/">東京電力電力供給状況API</a>.</li>
    </ul>

    <hr />
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://power-usage-logger.appspot.com/" show_faces="true" width="450" font=""></fb:like>
  </body>
</html>
